* {
    margin: 0;
    padding: 0;
    color:white;
    font-family: "Poppins";

}

.container-fluid {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1px);

    height: 100vh;
    width: 100vw;
}

body {
    background-image: url("../images/gray.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
  
}


#overlay {
    position: fixed;
inset:0;
    background-color: rgba(255, 0, 0, 0.6);
    transition: background-color 0.7s linear;
    z-index: 0;
    mix-blend-mode: overlay;

}


