* {
    margin: 0; 
    padding: 0;
    font-family: 'Poppins', 'Inter', sans-serif;
    box-sizing: border-box;

}

html,
body {
    height: 100%;
    width: 100%;
    background-image: url("../images/bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;



}

#overlay {

    width: 100%;
    height: 100%;

    transition: background-color 0.7s linear;
    background-color: rgb(0, 90, 170);
    backdrop-filter: blur(7px);
    mix-blend-mode: overlay;
    position: fixed;
    overflow-y: auto;
}

#darkoverlay {
    width: 100%;
    height: 100%;
    transition: background-color 0.7s linear;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    overflow-y: auto;

}

.container {
    position: relative;
    top: 15px;


}

.checksize {
    transform: scale(1.5);

}

#passlen {
    width: 50%;
    transform: scale(2);
    padding: 0;

}

#value {
    min-width: 35%;
    text-align: center;
}

a {
    text-decoration: none;
    color: white;

}

a:hover {
    color: gray;

}

footer {
    margin-top: 160px;
}

#copyicon {
    font-size: 35px;
}


.progress{
    padding: 0;
}